__CFBundleIdentifier=com.apple.Terminal
TMPDIR=/var/folders/53/b4hynv413sz_p66vtt7q5rjc0000gn/T/
XPC_FLAGS=0x0
TERM=xterm-256color
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.VhgqlC1Fbh/Listeners
XPC_SERVICE_NAME=0
TERM_PROGRAM=Apple_Terminal
TERM_PROGRAM_VERSION=453
TERM_SESSION_ID=300B00B5-744F-4F16-87D9-14D7C6B84EE5
SHELL=/bin/zsh
HOME=/Users/dianahazgalieva
LOGNAME=dianahazgalieva
USER=dianahazgalieva
PATH=/Library/Frameworks/Python.framework/Versions/3.12/bin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/Library/Apple/usr/bin:/usr/local/share/dotnet:~/.dotnet/tools:/Library/Frameworks/Mono.framework/Versions/Current/Commands
SHLVL=1
PWD=/Users/dianahazgalieva/desktop/analytic_service
OLDPWD=/Users/dianahazgalieva/desktop
GHC_DOT_APP=/Applications/ghc-7.10.3.app
LANG=ru_RU.UTF-8
_=/usr/bin/env

backend/core/.env
